body{
    margin: 0;
    background: linear-gradient(to bottom,rgb(131, 8, 8), rgb(209, 113, 113));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ;
}
    
  
.demo{
    color:rgb(226, 123, 123);
    text-align: center;
    font-size: 40px;
    font-weight:bold;
    margin-top: 250px;
 }

